
h3 {
  font-weight: bold;
  line-height: 2em !important; 
}

[class$="-label"] {
  font-weight: bold;
  padding: 0 0 0 0;
}

.gloss-term-all {
  color: #1d1d1d;
  display: inline; 
  line-height: normal; 
  font-style: normal;
}


.gloss-acronym {
  display: inline !important;
  font-weight: bold;
  margin:0 !important;
}

.gloss-term {
  display: inline;
}

/* a[href*="/cosite002.html#"]::before {
  content: "Tags: ";
  font-weight: bold;
  font-style: normal;
  pointer-events: none;
  display: inline-block;
  margin-right: 4px;
  position: relative;
} /*